@charset "UTF-8";
@media screen and (min-width:150px) and (max-width: 550px) {
    .card-container
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: 200px;
        background-color: #faebd7;
        border: 1px solid #fedbad;
        margin: 10px;
        padding: 10px 20px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1) ;
        justify-self: center;
        align-items: center;
    }
    .card img
    {
        width: 33vw;
        height: 33vw;
    }
    .card a h3
    {
        margin-top: 10px;
    }
    .card p{
        padding: 5px 0 0 5px;
    }
    a{
        text-decoration: none;
        color: #1f1f1f;
    }
    img{
        height: 150px;
    }
}